/* GLOBAL CSS GOES HERE */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #d9d9d9;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.resize-none {
  resize: none;
}
